
{% extends "base.html" %} 
{% load static %} 

{% block page_header %}
  <div class="container header-container">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
{% endblock %} 

{% block content %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h2 class="logo-font mb-4 header">Contact Us</h2>
        <hr class="center-diamond">
      </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
          <i class="fa-regular fa-comment-dots fa-5x icon-orange"></i>
          <p class="mt-5">Need an ASAP answer? Contact us via chat, 24/7! For existing orders, please call us on +1869 341070.</p>
          <button class="btn btn-black rounded-0">Chat With Us</button>
        </div>
    </div> 
    <div class="row text-center mt-5">
      <div class="col-12">
        <i class="fas fa-envelope-open-text fa-5x icon-orange"></i>
        <p class="mt-5">You can text us at +44-785-553-0615 – or click on the “text us” link below on your mobile device. Please allow the system to acknowledge a simple greeting (even “Hi” will do!) before providing your question/order details. Consent is not required for any purchase. Message and data rates may apply. Text messaging may not be available via all carriers.</p>
        <button class="btn btn-black rounded-0">Chat With Us</button>
      </div>
    </div>  
    <div class="row text-center mt-5 ">
        <div class="col-12">
          <i class="fas fa-inbox fa-5x icon-orange"></i>
          <p class="mt-5">To send us a private or direct message, like @StringTheory on Instagram or follow us on X (formally Twitter). We’ll get back to you ASAP. Please include your name, order number, and email address for a faster response!</p>
        </div>
    </div>  
    </div>
{% endblock %}