
{% extends "base.html" %} 
{% load static %} 

{% block page_header %}
  <div class="container header-container">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
{% endblock %} 

{% block content %}
  <div class="container-fluid p-0">
    <div class="hero d-flex align-items-center justify-content-center text-white">
      <h1 class="hero-section">Hero Section</h1>
    </div>
  </div>

  <div class="container my-4">
  <hr class="center-diamond">
  <div class="row text-center">
      <div class="col-6 col-md-3">
          <img src="/media/bluetele.jpg" class="img-fluid" alt="">
          <p>Text 1</p>
      </div>
      <div class="col-6 col-md-3">
        <img src="/media/bluetele.jpg" class="img-fluid" alt="">
          <p>Text 2</p>
      </div>
      <div class="col-6 col-md-3">
        <img src="/media/bluetele.jpg" class="img-fluid" alt="">
          <p>Text 3</p>
      </div>
      <div class="col-6 col-md-3">
        <img src="/media/bluetele.jpg" class="img-fluid" alt="">
          <p>Text 4</p>
      </div>
  </div>
  <hr class="center-diamond">
  <div class="row justify-content-center text-center mt-4">
      <div class="col-5 col-md-2 mx-4">
          <img src="/media/bluetele.jpg" class="img-fluid" alt="">
          <p>Text 5</p>
      </div>
      <div class="col-5 col-md-2 mx-4">
          <img src="/media/bluetele.jpg" class="img-fluid" alt="">
          <p>Text 6</p>
      </div>
      <div class="col-5 col-md-2 mx-4">
          <img src="/media/bluetele.jpg" class="img-fluid" alt="">
          <p>Text 7</p>
      </div>
      <div class="col-5 col-md-2 mx-4">
          <img src="/media/bluetele.jpg" class="img-fluid" alt="">
          <p>Text 8</p>
      </div>
  </div>
  <hr class="center-diamond">
  <div class="row text-center mt-4">
      <div class="col-md-6">
          <img src="/media/bluetele.jpg" class="img-fluid" alt="">
          <p>Text 9</p>
      </div>
      <div class="col-md-6">
          <img src="/media/bluetele.jpg" class="img-fluid" alt="">
          <p>Text 10</p>
      </div>
  </div>

  <div class="row text-center mt-4">
      <div class="col-6 col-md-3">
          <img src="/media/bluetele.jpg" class="img-fluid square-img" alt="">
          <p>Text 11</p>
      </div>
      <div class="col-6 col-md-3">
          <img src="/media/bluetele.jpg" class="img-fluid square-img" alt="">
          <p>Text 12</p>
      </div>
      <div class="col-6 col-md-3">
          <img src="/media/bluetele.jpg" class="img-fluid square-img" alt="">
          <p>Text 13</p>
      </div>
      <div class="col-6 col-md-3">
          <img src="/media/bluetele.jpg" class="img-fluid square-img" alt="">
          <p>Text 14</p>
      </div>
  </div>
  </div>

{% endblock %}
