.profile-form-input::placeholder {
  color: #aab7c4;
}

.profile-form-input .form-control {
  color: #1f1f1f;
}

#id_default_country,
#id_default_country option:not(:first-child) {
  color: #1f1f1f;
}

#id_default_country option:first-child {
  color: #aab7c4;
}

.order-history {
  max-height: 416px;
  overflow-y: auto;
}
