<!-- Buttons and dropdowns for selecting items-->

<div class="row">
    <div class="row navbar text-center d-flex justify-content-between">
        <div class="dropdown show col gold">
            <a class="text-reset text-decoration-none cursor-hover" id="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All Products <i class="fa-solid fa-chevron-down fa-fw"></i>
            </a>
        
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">By Price</a></li>
            <li><a class="dropdown-item" href="#">By Rating</a></li>
            <li><a class="dropdown-item" href="#">By Category</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
            </ul>
        </div>
        <div class="dropdown show col gold">
            <a class="text-reset text-decoration-none cursor-hover gold" id="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Electric<i class="fa-solid fa-chevron-down fa-fw"></i>
            </a>
        
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'products' %}?category=electric_guitars&brand=fender">Fender</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category=electric_guitars&brand=gibson">Gibson</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category=electric_guitars">All</a></li>
          </ul>
        </div>
        <div class="dropdown show col gold">
            <a class="text-reset text-decoration-none cursor-hover" id="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Acoustic<i class="fa-solid fa-chevron-down fa-fw"></i>
            </a>
        
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'products' %}?category=acoustic_guitars&brand=fender">Fender</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category=acoustic_guitars&brand=gibson">Gibson</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category=acoustic_guitars">All</a></li>
            </ul>
                <!-- Example of submenus if needed!
                <li>
                    <a class="dropdown-item" href="#">
                      Submenu &raquo;
                    </a>
                    <ul class="dropdown-menu dropdown-submenu">
                      <li>
                        <a class="dropdown-item" href="#">Submenu item 1</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Submenu item 2</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Submenu item 3 &raquo; </a>
                        <ul class="dropdown-menu dropdown-submenu">
                          <li>
                            <a class="dropdown-item" href="#">Multi level 1</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#">Multi level 2</a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Submenu item 4</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Submenu item 5</a>
                      </li>
                    </ul>
                  </li> -->
        </div>
        <div class="dropdown show col gold">
            <a class="text-reset text-decoration-none cursor-hover" id="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Bass<i class="fa-solid fa-chevron-down fa-fw"></i>
            </a>
        
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'products' %}?category=bass_guitars&brand=fender">Fender</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category=bass_guitars&brand=gibson">Gibson</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category=bass_guitars">All</a></li>
            </ul>
        </div>
        <div class="dropdown show col gold">
          <a class="text-reset text-decoration-none cursor-hover" id="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Accessories<i class="fa-solid fa-chevron-down fa-fw"></i>
          </a>
      
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'products' %}?category=accessories&description=amplifier">Amplifier</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?category=accessories">Gibson</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?category=accessories">All</a></li>
          </ul>
        </div>
        <div class="show col gold">
          <a class="text-reset text-decoration-none cursor-hover" href="" id="#" aria-haspopup="true" aria-expanded="false">
          Blog
          </a>
        </div>
        <div class="show col gold">
          <a class="text-reset text-decoration-none cursor-hover" href="" id="#" aria-haspopup="true" aria-expanded="false">
          Contact Us
          </a>
        </div>
        <div class="show col gold">
          <a class="text-reset text-decoration-none cursor-hover" href="" id="#" aria-haspopup="true" aria-expanded="false">
          About Us
          </a>
        </div>
    </div>
</div>