    <!-- Mobile Footer -->
    <footer class="text-center mobile-footer">
        <div class="container">
            <div class="row mt-3">
                <div class="col">
                    <hr class="center-diamond mt-3">
                </div>
            </div>
            <!-- Social icons and contact info -->
            <div class="row">
                <!-- Social icons (centered in the middle third) -->
                <div class="col-12 col-md-4 d-flex justify-content-center mb-1">
                    <ul class="list-unstyled d-flex justify-content-between w-100 mb-0">
                        <li>
                            <a href="https://www.instagram.com" target="_blank" class="text-decoration-none mb-0">
                                <i class="fab fa-instagram icon-red fa-lg"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com" target="_blank" class="text-decoration-none mb-0">
                                <i class="fab fa-youtube icon-orange fa-lg"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://x.com/" target="_blank" class="text-decoration-nonemb-0">
                                <i class="fa-brands fa-x-twitter icon-red fa-lg"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col justify-content-center w-100">
                    <hr class="center-diamond">
                </div>
            </div>
                <div class="row justify-content-center">
                <!-- Contact info (stacked on top of each other) -->
                    <div class="col-12 col-md-4 mb-1">
                        <p class="text-muted small mb-1">customer_service@stringtheory.com</p>
                        <p class="text-muted small mb-1">+1869 341070</p>
                        <p class="text-muted small mb-1">08:00 - 17:00 - Everyday</p>
                    </div>
                </div>
            </div>
            <!-- Footer links (centered in 3 columns) -->
            <div class="row mx-2">
                <div class="col text-center">
                    <a class="text-decoration-none text-black" href="{% url 'blog' %}">Blog</a>
                </div>
                <div class="col text-center">
                    <a class="text-decoration-none text-black" href="{% url 'contact_us' %}">Contact Us</a>
                </div>
                <div class="col text-center">
                    <a class="text-decoration-none text-black" href="{% url 'about_us' %}">About Us</a>
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    <p class="text-muted fs-6 text-center mb-0 mt-2">&copy; 2025 String Theory. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>