
{% extends "base.html" %} 
{% load static %} 

{% block page_header %}
  <div class="container header-container">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
{% endblock %} 

{% block content %}
    <div class="container-fluid">
        <div class="row height-align">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container mb-2 mt-md-2">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                            <button href="" class="add-to-basket text-center" type="submit" value="Add to Bag"><i class="fa-regular fa-plus fa-fw mr-2"></i>ADD TO BASKET</button>
                            <input type="hidden" name="redirect_url" value="{{ request.path}}">
                    </form>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-2 mt-md-2">
                    <h1 class="mb-0 mb-md-2">{{ product.name }}</h1>
                    <p class="lead mb-0 text-left font-weight-bold gold-font mb-md-2">£{{ product.price }}</p>
                    {% if product.category %}
                        <p class="small mt-1 mb-0">
                            <a class="text-muted mb-md-2" href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                            </a>
                        </p>
                    {% endif %}
                    {% if product.rating %}
                        <small class="text-muted mb-md-2"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted mb-md-2">No Rating</small>
                    {% endif %}
                    <h2>Description</h2>
                    <p class="mt-3">{{ product.description }}</p>
                </div>
                <!--Accordion for shipping and extra details-->
                <div class="bottom-container">
                    <div class="accordion accordion-desktop" id="accordionExample">
                        <div class="accordion-item">
                        <p class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fas fa-truck me-3"></i>Shipping
                            </button>
                        </p>
                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>Free shipping on orders over £50</strong>
                                <p>Order today? Estimated shipping date: {{ estimated_shipping_date }} </p>
                                <strong>Standard Delivery Cost: £4.99</strong> 
                            </div>
                        </div>
                        </div>
                        <div class="accordion-item">
                        <p class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="fas fa-rotate-left me-3"></i>Return Policy
                            </button>
                        </p>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                            <p>You can return any unused item within 30 days of purchase for a full refund or exchange, provided it is in its original packaging and condition. Custom or personalised items are non-returnable unless faulty.</p>
                            </div>
                        </div>
                        </div>
                        <div class="accordion-item">
                        <p class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <i class="fas fa-headset me-3"></i>Support
                            </button>
                        </p>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                            <p>If you experience any technical issues with your purchase, our support team is here to help. You can contact us via email or live chat, and we’ll do our best to resolve any problems as quickly as possible.</p>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if product.category.id == 4 %}
        <div class="row mt-1 mt-md-3">
                <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                    <h3 class="font-weight-bold">Details</h3>
                    <h4>Colour:</h4>
                    <p>{{ product.colour }}</p>
                    <h4>Weight:</h4>
                    <p>{{ product.weight }}kg</p>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <h4>Body Material:</h4>
                    <p>{{ product.body_material }}</p>
                </div>
        </div>
        {% else %}
        <div class="row mt-1 mt-md-3">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <h3 class="font-weight-bold">Details</h3>
            </div>
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2"></div>
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <h4>Colour:</h4>
                <p>{{ product.colour }}</p>
                <h4>Neck Material:</h4>
                <p>{{ product.neck_material }}</p>
                <h4>Scale Length:</h4>
                <p>{{ product.scale_length }}</p>
                <h4>Pickups:</h4>
                <p>{{ product.pickups }}</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <h4>Body Material:</h4>
                <p>{{ product.body_material }}</p>
                <h4>Fretboard Material:</h4>
                <p>{{ product.fretboard_material }}</p>
                <h4>Number Of Frets:</h4>
                <p>{{ product.num_of_frets }}</p>
                <h4>Neck Shape:</h4>
                <p>{{ product.neck_shape }}</p>
            </div>
            {% endif %}
            <div class="accordion accordion-mobile" id="accordionExample">
                <div class="accordion-item">
                <p class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="fas fa-truck me-3"></i>Shipping
                    </button>
                </p>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Free shipping on orders over £50</strong>
                        <p>Order today? Estimated shipping date: {{ estimated_shipping_date }} </p>
                        <strong>Standard Delivery Cost: £4.99</strong> 
                    </div>
                </div>
                </div>
                <div class="accordion-item">
                <p class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="fas fa-rotate-left me-3"></i>Return Policy
                    </button>
                </p>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                    <p>You can return any unused item within 30 days of purchase for a full refund or exchange, provided it is in its original packaging and condition. Custom or personalised items are non-returnable unless faulty.</p>
                    </div>
                </div>
                </div>
                <div class="accordion-item">
                <p class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <i class="fas fa-headset me-3"></i>Support
                    </button>
                </p>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                    <p>If you experience any technical issues with your purchase, our support team is here to help. You can contact us via email or live chat, and we’ll do our best to resolve any problems as quickly as possible.</p>
                    </div>
                </div>
                </div>
            </div>
            <!--You may also like-->
        <div class="row">
            <div class="col">
                <h5 class="text-center header mt-5">YOU MAY ALSO LIKE</h5>
                <div><hr class="center-diamond"></div>
            </div>
            <div class="row"></div>
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
            {% for recommended_product in recommended_products %}
            <!--Logic taken from products page-->
                        <div class="recommended-product col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0 product-card">
                                {% if recommended_product.image %}
                                <a href="{% url 'product_detail' recommended_product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ recommended_product.image.url }}" alt="{{ recommended_product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' recommended_product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ recommended_product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ recommended_product.name }}</p>
                                </div>
                                <div class="card-footer pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">£{{ recommended_product.price }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                   
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
